instructions/*.pdf
images/*.jpg
index.html
logs/
*.log
*.txt
*_fails.txt
*_results.txt
*_final.txt
library.zip
# images/*.png is NOT ignored because we need top-down images for GH Pages
# but construction images are many and might be considered artifacts.
# The user wants "Top-down images for all models".
