instructions/*.pdf
images/*.jpg
index.html
images/*.png
logs/
*.log
*.txt
*_fails.txt
*_results.txt
*_final.txt
library.zip

# PDK Specifications
!specifications/cells/*.gds
!specifications/cells/*.cif
